@(travel: models.Travel)
@import play.i18n.Messages.get

    <div class="my-list-item ">
    <div class="row">
        <div class="col-xs-6 col-md-4">
        <a href="#" class="thumbnail">
            <img src="@routes.TravelCtrl.getImage(travel.travelImage)"/>
        </a>
        </div>
        <div class="col-xs-6 col-md-4">
        <h3>@get("output.list.name") <span class="glyphicon glyphicon-chevron-right"></span> @(travel.travelDest) </h3>
        <h5>@get("output.list.price") PLN<b></b> @(travel.travelPrice)</h5>
        <h5>@get("output.list.travel.by")<b></b> @(travel.travelBy) </h5>
        <h5>@get("travel.startData.label")<b></b> @(travel.startDate)</h5>
    </div>
        <div class="col-xs-6 col-md-4">

            <a href="@routes.TravelCtrl.travelDetail(travel.travelDest)">
                <button type="button" class="btn btn-primary">@get("form.travel.details")</button>
            </a>


        </div>

    </div>
 </div>

