@()(implicit session: play.api.mvc.Session,flash: play.api.mvc.Flash)
@import tools.KeyCodes

@main(""){
    <div class="content-main">
    @templates.navigation.navCore.render(session)
        <div class="error">
            <h3><span class="label label-danger">@flash.get(KeyCodes.FLASH_ERROR)</span></h3>
        </div>

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" ><a href="/">
            Lista wycieczek
        </a></li>

                <li role="presentation" ><a href="/travel/create">
                    Nowa
                </a></li>


        <li role="presentation"><a href="/travel/search/tab">
            Szukaj Wycieczek
        </a></li>
    </ul>

 <div class="container">

    <form class="form-signin" role="form" enctype="multipart/form-data" method="POST" action="@routes.TravelCtrl.addNewTravel()">

        <div class="col-lg-6 form-search" >
            <label for="travelDest">Travel Destination</label>
            <input class="form-control" type="text" name="travelDest" id="travelDest" placeholder="Travel Destination" required="true"/><br/>
            <label for="description">Description</label>
            <textarea class="form-control" rows="4" type="text" name="description" id="description" placeholder="Description" ></textarea><br/>
            <label for="travelPrice">Travel Price</label>
            <input class="form-control" type="number" min="1" name="travelPrice" id="travelPrice" placeholder="1..999$"  required="true"/><br/>
            <label for="startDate">Data wycieczki</label>
            <input class="form-control" type="date"  name="startDate" id="startDate" placeholder="yyyy-MM-dd"  required="true"/><br/>

        </div>
        <div class="col-lg-6 form-search">
            <label for="capacity">Capacity</label>
            <input class="form-control" type="number" min="1" name="capacity" id="capacity" placeholder="1..15"  max="15" required="true"/><br/>
            <label for="travelBy">Travel By</label>
            <input class="form-control" type="text" name="travelBy" id="travelBy" placeholder="Travel By" required="true"/><br/>
            <label for="thumbnail">Miniatura</label>

            <div class="input-group">
                <span class="input-group-btn">
                    <span class="btn btn-primary btn-file">
                     <input name="travelImage" id="travelImage" type="file" accept="image/jpeg, image/png">
                 </span>
                </span>
            </div>
            <br>
            <button type="submit" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-ok"></span> Dodaj</button>
        </div>




    </form>

 </div>
</div>
}
