@(travel: models.Travel)(implicit session: play.api.mvc.Session)
@import play.i18n.Messages.get
@import tools.KeyCodes

@main(""){
    <div class="content-main">
        @templates.navigation.navCore.render(session)

        <ul class="nav nav-tabs" role="tablist">
            @if(session.get("ADMIN").contains("99")){
                <li role="presentation" ><a href="/travel/create">
                    Nowa
                </a></li>
            }
            <li role="presentation"><a href="/travel/search/tab">Szukaj Wycieczek</a></li>
            <li role="presentation" class="active"><a href="/travel/search/tab">@get("form.travel.details")</a></li>
        </ul>


        <div class="container">
            <form role="form" class="form-signin" enctype="multipart/form-data" id="orderForm" method="POST" action="@routes.ReservationCtrl.makeNewReservation(travel.travelDest)">
                 <div class="col-lg-6 form-search" >
                    <label for="travelDest">Cel Pordóży </label>
                    <h2>@travel.travelDest</h2>
                    <label for="description">Opis </label>
                    <h2>@travel.description</h2>
                    <label for="travelPrice">Cena </label>
                    <h2>@travel.travelPrice PLN</h2>
                    <label for="capacity">Wielkość wycieczki  </label>
                    <h2>@travel.capacity</h2>
                    <label for="capacity">  </label>
                    <h2>@travel.startDate</h2>
                </div>
                <div class="col-lg-6 form-search">
                    <label for="travelBy">Środek transportu </label>
                    <h2>@travel.travelBy</h2>
                    <label for="thumbnail">Miniatura</label>
                    <h2></h2>
                    <img src="@routes.TravelCtrl.getImage(travel.travelImage)"/><br>
                </div>

                <div class="col-lg-6 form-search">
                    @if(session.get("USER").isDefined) {
                        <div class="row featurette">
                                <button type="submit" class="btn btn-primary">Dokonaj rezerwacji</button>
                        </div>
                    }else {
                        <label >@get("details.reservation.login.need")</label>
                    }
                </div>
            </form>

        </div>
    </div>


}