@(travels:scala.collection.immutable.List[models.Travel])(implicit session: play.api.mvc.Session)
@import play.i18n.Messages

@main(""){
    @templates.navigation.navCore.render(session)
    <div class="content-main">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="/">
                Lista wycieczek
            </a></li>

            <li role="presentation"><a href="/travel/search/tab">
                Szukaj Wycieczek
            </a></li>
            @if(session.get("ADMIN").contains("99")){
                <li role="presentation" ><a href="/travel/create">
                    Nowa
                </a></li>
            }
        </ul>

        <div class="list-group">
        @for(travel <- travels) {
            @views.html.travel._item.render(travel)
        }
        </div>
    </div>
}

