@()(implicit session: play.api.mvc.Session)

<nav class="navbar navbar-inverse" role="navigation">
    <a class="navbar-brand" href="/" ><span class="glyphicon glyphicon-home"></span></a>
    @if(!session.isEmpty) {
        @templates.navigation.navSignedIn.render(session)
    } else {
        @templates.navigation.navUnsignedIn.render()
    }
</nav>