@()(implicit session: play.api.mvc.Session)
@import play.i18n.Messages
<form class="navbar-form navbar-right" action="@routes.UserCtrl.signOut()" method="POST">
    <a href="/user/box" type="button" class="btn  btn-default" >Twoje konto</a>
    <button type="submit" class="btn btn-primary">@Messages.get("form.logut.button")</button>
</form>

<p class="navbar-text navbar-right">Signed in as @session.get("USER")  </p>


