@(reservation: models.Reservation)
@import play.i18n.Messages.get

<div class="my-list-item ">
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <a href="#" class="thumbnail">
                <img src="@routes.TravelCtrl.getImage(reservation.travel.travelImage)"/><br>
            </a>
        </div>
        <div class="col-xs-6 col-md-4">
            <h3>@get("output.list.name") <span class="glyphicon glyphicon-chevron-right"></span>  @reservation.travel.travelDest</h3>
            <h5>@get("output.list.price") PLN<b></b> @reservation.travel.travelPrice</h5>
            <h5>@get("output.list.travel.by")<b></b> @reservation.travel.travelBy</h5>

        </div>
        <div class="col-xs-6 col-md-4">

            <a href="@routes.ReservationCtrl.deleteReservation(reservation.travel.travelDest)">
                <button type="button" class="btn btn-primary">@get("form.delete.reservation.button")</button>
            </a>
        </div>

    </div>
</div>

