@(reservations:scala.collection.immutable.List[models.Reservation])(implicit session: play.api.mvc.Session)
@import play.i18n.Messages.get



@main(""){
    <div class="content-main">
    @templates.navigation.navCore.render(session)


    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" ><a href="/">
            Lista wycieczek
        </a></li>
        @if(session.get("ADMIN").contains("99")){
            <li role="presentation" ><a href="/travel/create">
                Nowa
            </a></li>
        }
        <li role="presentation" ><a href="/travel/search/tab">
            Szukaj Wycieczek
        </a></li>
        <li role="presentation" class="active" ><a href="#">
           Twoje konto
        </a></li>
    </ul>

        <div >
            <br/>
            <a href="@routes.UserCtrl.editUser(session.get("USER").get)">
                <button type="button" class="btn btn-primary">@get("form.edit.user.button")</button>
            </a>

        </div>

        <div class="list-group reservation-list">

            <h2>Lista Twoich rezerwacji:</h2>
        @for(reservation <- reservations) {

            @views.html._itemBox.render(reservation)
        }

        </div>
    </div>
}