@()(implicit flash: play.api.mvc.Flash)
@import play.i18n.Messages
@import tools.KeyCodes
@main("LOGIN"){
    <div class="error">
        <h3><span class="label label-danger">@flash.get(KeyCodes.FLASH_ERROR)</span></h3>
    </div>
    <div class="user-form-content">
        <div class="login-register-form">
            <div class="home-icon">
                <h1><a href="/"><span class="glyphicon glyphicon-home"></span></a></h1>
            </div>
            <form class="form-signin" role="form" action="@routes.UserCtrl.signIn()" method="POST">
                <h2 class="form-signin-heading">@Messages.get("form.login.label")</h2>
                <input class="form-control" type="email" name="email" placeholder="Email"><br/>
                <input class="form-control" type="password" name="password" placeholder="Password"><br/>
                <button class="btn btn-lg btn-primary btn-block" type="submit">@Messages.get("form.login.button")</button>
            </form>
        </div>
    </div>
}