@()(implicit flash: play.api.mvc.Flash)
@import play.i18n.Messages
@import tools.KeyCodes
@main("") {
    <div class="error">
            <h3><span class="label label-danger">@flash.get(KeyCodes.FLASH_ERROR)</span></h3>
    </div>
    <div class="user-form-content">
      <div class="login-register-form">
          <div class="home-icon">
              <h1><a href="/"><span class="glyphicon glyphicon-home"></span></a></h1>
          </div>

           <form class="form-signin" role="form" action="@routes.UserCtrl.signUp()" method="POST">
                <h2 class="form-signin-heading">@Messages.get("form.registration.label")</h2>
                <input class="form-control"  type="email" name="email" placeholder="Email" required="true"><br/>
                <input class="form-control" type="password" name="password" required="true" placeholder="Password"><br/>
                <input class="form-control" type="password" name="repeatedPassword" placeholder="Password"><br/>
                <input class="form-control" type="text" name="firstName" placeholder="First Name"><br/>
                <input class="form-control" type="text" name="lastName" placeholder="Last Name"><br/>


                <button class="btn btn-lg btn-success btn-block" type="submit">@Messages.get("form.registration.button")</button>

            </form>
      </div>
    </div>
}